/* Css Style */
* {
  margin: 0;
  padding: 0;
  list-style-type: 0;
}
body {
  font-family: serif;
  background: url(images/bg.jpg);
  background-size: cover;
  background-position: center;
}

h1 {
  font-style: italic;
  font-size: 32px;
}
